<% if @post %>
	<div>
		<h2 class="post-title"><%= @post.title %></h2>
		<p class="post-paragraph"><%= raw(@post.text) %></p>
		<span class="post-details"> Posted by: <%= @post.creator %> on <%= @post.updated_at.strftime("%B %d, %Y") %></span>
  </div>
<% else %>
	No matching records
<% end %>

